.fundo{
    width: 90vw;
    min-height:calc(100vh - 120px);
    margin-left:10vw;
    h1{
        color:var(--primary-color-base);
        font-family: bebas-neue;
    }
    h2{
        font-family: bebas-neue;
    }
}

table{
    width: 100%;
    th{
        text-align: left;
    }
}