<app-navigation></app-navigation>

<div class="fundo">
  <h1>Listar equipes</h1>
  <app-button
    label="Criar equipe"
    icon="add"
    size="small"
    (click)="irCriarEquipe()"
  ></app-button>
  <h2>Minhas equipes</h2>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Qtde integrantes</th>
          <th>Qtde participações</th>
          <th>Jogo favorito</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @if (minhasEquipes$ | async; as equipes) {
          @if (equipes.length > 0) {
            @for (dados of equipes; track dados.nome) {
              <tr>
                <td>{{ dados.nome }}</td>
                <td>{{ dados.membros.length }}</td>
                <td></td>
                <td></td>
                <td>
                  <app-button
                    label=""
                    icon="edit"
                    size="small"
                    (click)="irAlterarEquipe(dados.id)"
                  ></app-button>
                </td>
              </tr>
            }
          } @else {
            <tr>
              <td colspan="5">Nenhuma equipe para mostrar</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <h2>Outras equipes</h2>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Qtde integrantes</th>
          <th>Qtde participações</th>
          <th>Jogo favorito</th>
        </tr>
      </thead>
      <tbody>
        @if (outrasEquipes$ | async; as equipes) {
          @if (equipes.length > 0) {
            @for (dados of equipes; track dados.nome) {
              <tr>
                <td>{{ dados.nome }}</td>
                <td>{{ dados.membros.length }}</td>
                <td></td>
                <td></td>
              </tr>
            }
          } @else {
            <tr>
              <td colspan="4">Nenhuma equipe para mostrar</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
