.fundo{
    width: 90vw;
    min-height:calc(100vh - 120px);
    margin-left:10vw;
    h1{
        color:var(--primary-color-base);
        font-family: bebas-neue;
    }
    h2{
        font-family: bebas-neue;
    }
}

table{
    td{
        padding:4px 12px 4px 12px;
    }
    th{
        text-align: left;
        padding:4px 12px 4px 12px;
    }
}

a{
    padding:2px 6px 2px 6px;
    background-color: var(--primary-color-base);
    border-radius: 4px;
    color:var(--font-color-inverted);
    text-decoration: none;
    &:hover{
        background-color: var(--primary-color-light);
    }
}