@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;700&display=swap');

.dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--font-color-primary);
    font-family: 'Poppins', sans-serif;
}


/* === CONTEÚDO PRINCIPAL === */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    .welcome-box {
        width: 70%;
        border: 3px solid #67679267;
        border-radius: 10px;
        padding: 40px;
        background-color: var(--background);
        text-align: center;

        h2 {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        p {
            color: #b0b0ff;
            font-size: 0.95rem;
        }
    }

    /* === RODAPÉ === */ 
    footer, app-footer { 
        margin-top: auto; 
        text-align: center; 
        padding-top: 30px; 
        font-size: 0.8rem; 
        color: #aaa;

        strong { 
            color: #fff; 
        } 

        a { 
            color: #9b5cf6; 
            text-decoration: none; 
            
            &:hover { 
                text-decoration: underline; 
            } 
        } 
    }
}
