<div class="competitor-level-wrapper" [ngClass]="{'disabled':disabled}">
  <label class="title">{{ title }}</label>

  <div class="options" [ngStyle]="{ width: width }">
    @for (option of options; track option) {
      <div
        (click)="selectOption(option)"
        [class.selected]="isSelected(option)"
        [class.disabled]="disabled"
        class="option"
      >
        {{ option }}
      </div>
    }
  </div>

  @if (control.invalid && control.touched) {
    <div class="error">
      Campo inválido
    </div>
  }
</div>
