.competitor-level-wrapper {
  display: flex;
  flex-direction: column;

  .title {
    font-weight: 500;
    font-size: 14px;
    color: #ccc;
  }

  .options {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--surface);
    width: 360px;

    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: #fff;
      user-select: none;
      transition: background-color 0.3;
      font-size: 14px;

      &.selected {
        background-color: #8c2fff;
        color: #fff;

        &:hover {
          background-color: #8c2fff;
        }
      }

      &:hover:not(.disabled) {
        background-color: #626262;

        cursor: pointer;
      }
    }
  }

  &.disabled {
    .title {
  color: white;
    }
    .options,
    .option {
      background-color: var(--disabled);
      border: 0;
      color: var(--disabled);
    }
  }
}

.error {
  color: red;
  font-size: 12px;
}
