.tournament-control-container {
  padding-left: 250px;
  min-height: 100vh;
  padding: 50px 60px;
  box-sizing: border-box;
  background: var(--background);
  color: var(--font-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  /* TÍTULO */
  .tournament-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #00ADEF;
  }

  /* PLACAR */
  .scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

    .score-bar {
      padding: 25px 30px;
      width: 600px;
      text-align: center;
      display: flex;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1.5rem;
      justify-content: space-between;   
      flex: 0 0 auto; 

      &.blue {
        background: #00adef;
        border-radius: 0 20px 20px 0;
      }

      &.red {
        background: #cd1716;
        border-radius: 20px 0 0 20px;
      }

      .dot {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #dcdcdc;
      }

      .team-name {
        display: block;
        font-size: 1.8rem;
        flex: 1;
        text-align: left;    
        margin-left: 10px;
      }

      .team-name-2 {
        display: block;
        font-size: 1.8rem;
        flex: 1;
        text-align: right;    
        margin-right: 10px;
      }

      .team-score {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: auto;  
        margin-right: 10px
      }
    }

    .versus {
      font-size: 1.5rem;
      font-family: 'Bebas Neue', sans-serif;
      margin: 0 10px;
    }
  }

  /* TIMER */
  .timer-action-row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }

  .timer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;

    .time {
      color: #e7cb41;
    }
  }

  /* BOTÕES */
  .actions {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;

    app-button {
      transform: scale(1.2);
    }
  }

   /* Botão PRONTO — verde */
  ::ng-deep app-button[label="Pronto"] button {
    background: #239b5b !important;
    color: #fff !important;
    padding: 12px 40px !important; 
    border-radius: 14px !important;

  }

  ::ng-deep app-button[label="Pronto"] button:hover {
    background: #27ae60 !important;
  }

  /* Botão DESISTIR — vermelho */
  ::ng-deep app-button[label="Desistir"] button {
    background: #e3221d !important;
    color: #fff !important;
    padding: 12px 40px !important;
    border-radius: 14px !important;
  }

  ::ng-deep app-button[label="Desistir"] button:hover {
    background: #c0392b !important;
  }

  /* PAINÉIS */
  .info-panels {
    display: flex;
    justify-content: center;
    gap: 20px;

    .player-card,
    .server-card,
    .notif-card {
      height: auto;
      width: 300px;
      background: #2c2c46;
      border-radius: 14px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);

      h3 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 12px;
        color: #a3a3bd;
      }
      
      .team-label {
        font-size: 2rem;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 500;
        color: #00ADEF;
        margin-top: 10px;
      }

      .player-card h3,
      .player-card h4 {
        font-size: 1.7rem !important;
        color: #00ADEF !important;
        letter-spacing: 1px;
        margin: 12px 0 5px 0;
        font-family: 'Bebas Neue', sans-serif;
      }

      /* Número da pontuação */
      .score {
        font-size: 2.6rem !important;
        font-family: 'Bebas Neue', sans-serif;
        color: #00ADEF;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .server-card p {
        text-align: center;
      }

      p {
        font-size: 2rem;
        margin: 0 0 10px 0;
      }
    }

    .notif-card {
      height: 400px;
      width: 300px;
      overflow-y: auto;  
      scrollbar-width: thin;
      scrollbar-color: #00ADEF #1e1e2f;
    }

    /* Avatar */
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    /* Status tags */
    .status {
      display: inline-block;
      margin-top: 8px;
      padding: 6px 12px;
      border-radius: 8px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 20px;
    

      &.on {
        background: #274e4b;
        border: 2px solid #488073;
        border-radius: 30px;
      }

      &.off {
        background: #672833;
        border: 2px solid #9b3e51;
        border-radius: 30px;
      }
    }
  }
}