<app-navigation></app-navigation>
<div class="fundo">
  <h1>Editar grupo</h1>
  <form [formGroup]="form">
    <div class="form-row">
      <app-input
        label="Nome da equipe"
        placeholder="Nome único"
        [control]="nomeControl"
        [customStyles]="{ width: '251px' }"
      ></app-input>

      <app-button
        label="Excluir equipe"
        icon="delete"
        (click)="remove()"
        color="warn"
        class="botaoExcluir"
      ></app-button>
    </div>

    <div class="invite-actions">
      <app-button
        label="Convidar novos integrantes"
        icon="person_add"
        (click)="openInviteModal()"
      ></app-button>
    </div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Ação</th>
            <th>Situação</th>
            <th>Nome</th>
            <th>Lider</th>
            <th>Titular</th>
            <th>Função</th>
          </tr>
        </thead>
        <tbody formArrayName="membros">
          @for (
            membro of membrosControls.controls;
            let index = $index;
            track membro
          ) {
            <tr [formGroupName]="index">
              <td class="buttons">
                <app-button
                  label=""
                  icon="delete"
                  size="small"
                  color="warn"
                  (click)="removeIntegrante(membro)"
                  [disabled]="!souLider"
                ></app-button>
              </td>
              <td>
                {{
                  getMembroControl(index, "dt_aceito").value != null
                    ? "MEMBRO"
                    : "PENDENTE"
                }}
              </td>
              <td>
                <p>{{ membro.get("nickname")?.value }}</p>
              </td>
              <td>
                <app-toggle-button
                  label="Líder"
                  [control]="getMembroControl(index, 'is_lider')"
                  [disabled]="
                    !souLider ||
                    getMembroControl(index, 'dt_aceito').value == null
                  "
                ></app-toggle-button>
              </td>

              <td>
                <app-toggle-button
                  label="Titular"
                  [control]="getMembroControl(index, 'is_titular')"
                  [disabled]="
                    !souLider ||
                    getMembroControl(index, 'dt_aceito').value == null
                  "
                ></app-toggle-button>
              </td>
              <td>
                <app-input
                  [control]="getMembroControl(index, 'funcao')"
                  [disabled]="
                    !souLider ||
                    getMembroControl(index, 'dt_aceito').value == null
                  "
                ></app-input>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="form-row">
      <app-button label="Salvar" icon="save" (click)="submit()"></app-button>
      <app-button
        label="Cancelar"
        icon="cancel"
        color="cancel"
        (click)="clearForm()"
      ></app-button>
    </div>
  </form>

  @if (isInviteModalOpen) {
    <div class="modal-backdrop" (click)="cancelInviteModal()">
      <div class="modal invite-modal" (click)="$event.stopPropagation()">
        <h2>Convidar integrantes</h2>
        <div class="filter-box">
          <app-input
            type="text"
            label="Filtro"
            placeholder="Filtrar por nome..."
            [control]="filtroUsuariosControl"
          ></app-input>
        </div>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Nickname</th>
                <th style="width: 110px">Idade</th>
                <th>E-mail</th>
                <th style="width: 160px"></th>
              </tr>
            </thead>
            <tbody>
              @if (isLoadingUsuarios) {
                <tr>
                  <td colspan="6">Carregando jogadores...</td>
                </tr>
              } @else {
                @if (listaUsuariosFiltrada | async; as jogadores) {
                  @if (jogadores.length > 0) {
                    @for (jogador of jogadores; track jogador.nickname) {
                      <tr>
                        <td>{{ jogador.nickname }}</td>
                        <td>{{ jogador.idade }}</td>
                        <td>{{ jogador.email }}</td>

                        <td class="acoes">
                          <app-button
                            [label]="
                              isUserSelected(jogador.nickname)
                                ? 'Selecionado'
                                : 'Selecionar'
                            "
                            [icon]="
                              isUserSelected(jogador.nickname)
                                ? 'check'
                                : 'person_add'
                            "
                            [color]="
                              isUserSelected(jogador.nickname)
                                ? 'selected'
                                : 'notSelected'
                            "
                            size="small"
                            (click)="toggleUserSelection(jogador.nickname)"
                          ></app-button>
                        </td>
                      </tr>
                    }
                  } @else {
                    <tr>
                      <td colspan="6">
                        <p class="empty">
                          Não há mais nenhum jogador a ser adicionado.
                        </p>
                      </td>
                    </tr>
                  }
                } @else {
                  <tr>
                    <td colspan="6">Carregando jogadores...</td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>

        <div class="modal-actions">
          <app-button
            label="Salvar"
            icon="save"
            color="accept"
            (click)="saveInvites()"
          ></app-button>
          <app-button
            label="Cancelar"
            color="cancel"
            icon="cancel"
            color="refuse"
            (click)="cancelInviteModal()"
          ></app-button>
        </div>
      </div>
    </div>
  }
</div>
