.fundo {
  width: 90vw;
  min-height: calc(100vh - 120px);
  margin-left: 10vw;
  h1 {
    color: var(--primary-color-base);
    font-family: bebas-neue;
  }
  form {
    width: 100%;
    .form-row {
      display: flex;
      gap: 12px;
    }
  }
}

table {
  .buttons {
    display: flex;
    gap: 8px;
  }
  td {
    padding: 4px 12px 4px 12px;
  }
  th {
    text-align: left;
    padding: 4px 12px 4px 12px;
  }
}

.pendente {
  color: var(--color-warn);
}

details {
  width: 60%;
  margin-top: 24px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #00adef;
  summary {
    list-style: none;
    padding: 12px;

    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    background-color: #2c2c45;
    height: 48px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: solid 1px #00adef;
  }
}
