// ! Alterar essa instrução para o arquivo styles.scss, desse jeito as fontes estarão disoníveis globalmente
@import url('../assets/fonts/fonts.scss');

:host {
  display: block;
  min-height: 100vh;
  background-color: #14141f;
  color: #EAEEE3;
  font-family: 'poppins-light', sans-serif;
}

.main {
  padding: 20px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}
