.entrar-button {
  margin-top: 7%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
  text-decoration: none;
  margin-top: 2%;
}
