.page-content {
  width: calc(100%);
  padding-left: 25px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: 769px) {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  @media (max-width: 1024px) {
    padding: 0px 0px;
    margin-left: 13%;
  }

  @media (min-width: 769px) {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  @media (max-width: 640px) {
    padding: 0px 8px;
    margin-left: 21%;
  }

  @media (max-width: 500px) {
    padding: 0px 8px;
    margin-left: 8%;
  }

  @media (max-width: 400px) {
    padding: 0px 8px;
    margin-left: 14%;
  }
}
