.page-content {
  width: 100%;
  padding: 0 20px 0 25px;
  box-sizing: border-box;
  margin-left: 0;

  @media (min-width: 769px) {
    width: calc(100% - var(--auth-nav-offset-desktop));
    margin-left: var(--auth-nav-offset-desktop);
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    width: calc(100% - var(--auth-nav-offset-mobile));
    margin-left: var(--auth-nav-offset-mobile);
    padding: 0 8px;
  }
}
