<div class="nav-container">
  <aside class="outer-bar" [class]="state">
    <div class="icon"><img src="img_games/rockstar.png" alt="Rockstar" /></div>
    <div class="icon"><img src="img_games/csgo.png" alt="CSGO" /></div>
    <div class="icon"><img src="img_games/lol.png" alt="LOL" /></div>
    <div class="icon"><img src="img_games/valorant.png" alt="Valorant" /></div>
  </aside>

  <!-- Barra lateral principal -->

  <aside class="sidebar" [class]="state">
    @if(isAberto()){
    <div class="profile">
      <img src="imgs/profile_pic.png" alt="Avatar" class="avatar" />
      <p class="welcome">BEM-VINDO DE VOLTA</p>
      <h3 class="nickname">{{nickname}}</h3>
    </div>
    }
    @else{
        <img src="imgs\small_logo.png" alt="Logo Glitch Pequeno" class="logo" />
    }
    <button class="toggle-btn" (click)="toggleStatus()">
      @if(isAberto()){
      <mat-icon>chevron_backward</mat-icon>Fechar } @else{ Abrir<mat-icon
        >chevron_forward</mat-icon
      >
      }
    </button>
    <hr />

    <nav class="menu">
      <ul>
        <li><a routerLink="/dashboard"><mat-icon>analytics</mat-icon>@if(isAberto()){Dashboard}</a></li>
        <hr />
        <li><a routerLink="/tournaments"><mat-icon>trophy</mat-icon> @if(isAberto()){Torneios}</a></li>
        <li><a routerLink="/players"><mat-icon>group</mat-icon> @if(isAberto()){Jogadores}</a></li>
        <li><a routerLink="/groups"><mat-icon>group</mat-icon> @if(isAberto()){Equipes}</a></li>
        <li><a routerLink="/profile"><mat-icon>identity_platform</mat-icon>@if(isAberto()){Perfil}</a></li>
      </ul>
    </nav>

    <div class="bottom">
      <hr />
      <button class="help-btn">
        <mat-icon>help</mat-icon>@if(isAberto()){Ajuda}
      </button>
      <button class="logout-btn" (click)="logoff()">
        <mat-icon>logout</mat-icon>@if(isAberto()){Sair}
      </button>
    </div>
  </aside>
</div>
