.toggle-button {
  width: 48px;
  height: 24px;
  background-color: var(--surface);
  border-radius: 24px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .circle {
    width: 18px;
    height: 18px;
    background-color: var(--secundary-color-dark);
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  &.active {
    background-color: var(--surface);

    .circle {
      background-color: var(--primary-color-dark);
      transform: translateX(24px);
    }
  }
  &.disabled {
    background-color: var(--disabled);
    .circle {
      background-color: var(--secundary-color-light);
    }
    &.active {
      .circle {
        background-color: var(--primary-color-light);
      }
    }
  }
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-text {
  font-size: 14px;
}
