@font-face {
  font-family: 'poppins-light';
  src: url('./poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'bebas-neue';
  src: url('./bebasneue/BebasNeue-Regular.ttf') format('truetype');
}
