
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'assets/scss/theme/themes';
@use 'assets/scss/variables';

@use 'assets/fonts/fonts.scss';

html{
    margin:0;
    padding:0;
}

body{

    @extend .light;
    @extend .variables;

    margin:0;
    padding:0;
    width:100vw;
    height:100%;

    font-family: poppins-light;
    background:var(--background);
    color:var(--font-color-primary);
}
