.tournament-manage-container {
  padding-left: 250px;
  padding: 50px 60px;
  min-height: 100vh;
  background: var(--background);
  color: var(--font-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .title {
    font-family: 'Bebas Neue',sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    color: #00ADEF;
    margin-bottom: 5px;
  }

  /* SCOREBOARD */
  .scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .team-box {
      padding: 25px 30px;
      width: 600px;
      text-align: center;
      display: flex;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1.5rem;
      justify-content: space-between;   
      flex: 0 0 auto; 

      h3 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        display: flex;
        align-items: center;
      }

      &.blue {
        background: #00adef;
        border-radius: 0 20px 20px 0;
      }

      &.red {
        background: #cd1716;
        border-radius: 20px 0 0 20px;
        flex-direction: row-reverse;
      }

      .score-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        button {
          background: transparent;
          border: 2px solid #67679267;
          color: var(--font-color-primary);
          padding: 6px 14px;
          border-radius: 10px;
          cursor: pointer;
          font-size: 1.4rem;
          font-family: 'Bebas Neue';
          transition: .2s ease;
        }
      }
      
      &.blue .score-controls button:hover {
        background: #008fcc;   
        border-color: #00adef;
        color: #fff;
      }

      &.red .score-controls button:hover {
        background: #b91515;  
        border-color: #cd1716;
        color: #fff;
      }
    }

    .versus {
      font-family: 'Bebas Neue';
      font-size: 2rem;
      color: #fff;
    }
  }

  /* LISTAS */
  .lists-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;

    .players-list,
    .events-panel {
      background: #2C2C46;
      box-shadow: 0 4px 18px rgba(0,0,0,0.25);
      padding: 15px;
      border-radius: 14px;
      width: 300px;
      height: 400px;
      overflow-y: auto;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #00ADEF #1e1e2f;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #1e1e2f;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #00ADEF;
        border-radius: 10px;
      }

      h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 12px;
        color: #A3A3BD;
      }

      h2.blue {
        color: #00ADEF;
      }

       h2.red {
        color: #CD1716; 
       }
    }

    .player-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid rgba(255,255,255,0.07);

      span {
        font-size: 1.1rem;
      }
    }

    .events-panel {
      .event {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        font-size: 1rem;

        .time {
          opacity: 0.7;
          font-size: 0.85rem;
        }
      }
    }
  }

  .final-actions {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;

    app-button {
      transform: scale(1.15);
    }

    /* Roxo – Finalizar partida */
    ::ng-deep .finish-btn button {
      background: #9b16ff !important;
      color: #fff !important;
      padding: 10px 15px !important;
      border-radius: 12px !important;
    }

    ::ng-deep .finish-btn button:hover {
      background: #b54bff !important;
    }

    /* Azul – Cancelar */
    ::ng-deep .cancel-btn button {
      background: #46baff !important;
      color: #fff !important;
      padding: 10px 15px !important;
      border-radius: 12px !important;
    }

    ::ng-deep .cancel-btn button:hover {
      background: #6cc7ff !important;
    }
  }

  .winner-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal-content {
    background: #2C2C46;
    padding: 40px 60px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 4px 18px rgba(0,0,0,0.3);

    h2 {
      font-family: 'Bebas Neue';
      font-size: 2.2rem;
      color: #00ADEF;
      margin-bottom: 20px;
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    z-index: 1000;
  }

  .modal {
    background: #2c2c46;
    padding: 40px 50px;
    border-radius: 14px;
    text-align: center;
    width: 550px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.45);
    border: 1px solid rgba(255,255,255,0.05);
  }

  .modal h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: #00ADEF;
    margin-bottom: 25px;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;

    app-button {
      transform: scale(1.05);
    }
  }

}
