.page-area {
  width: 90%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 20px;
  padding:40px;
  box-sizing: border-box;
  .left{
    width:60%;
  }
  .right{
    width: 30%;
    ul{
      li{
        list-style: none;

      }
    }
  }
  .tournament-info {
    h1 {
      font-family: bebas-neue;
      color: var(--primary-color-base);
    }
  }
  .controls {
    display: flex;
    gap: 20px;
  }
  table {
    width: 100%;
    .buttons {
      display: flex;
      gap: 8px;
    }
    .etapa{
      text-align: center;
      color:#00adef;
      font-family:bebas-neue;
      font-size: 2em;
    }
    td {
      padding: 4px 12px 4px 12px;
    }
    th {
      text-align: left;
      padding: 4px 12px 4px 12px;
    }
  }

  .report-partidas {
    width: 100%;
    margin-top: 24px;
    border: solid 1px;
    border-radius: 10px;
    border-color: #00adef;
    header {
      list-style: none;
      padding: 12px;

      display: flex;
      align-items: center;
      font-weight: 900;
      font-size: 16px;
      background-color: #2c2c45;
      height: 48px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: solid 1px #00adef;
    }
  }
}
