@if(estado=='aberto'){
<div class="modal-backdrop">
  <section class="modal invite-modal">
    <div class="botao-fechar">
      <app-button
        icon="close"
        label=""
        color="cancel"
        (click)="fechar()"
        class="button-close"
      ></app-button>
    </div>

    <h2 class="invite-modal-title">{{ title }}</h2>

    <main class="modal-body">
      <form [formGroup]="form">
        @for (row of modal.form.row; track row.key) {
          <div class="form-row">
            @for (input of row.input; track input.key) {
              <div [style.flex]="1" class="form-field">
                <app-input
                  [type]="input.type"
                  [label]="input.label"
                  [placeholder]="input.placeholder"
                  [control]="input.control"
                  [options]="input.valueList"
                >
                </app-input>
              </div>
            }
          </div>
        }
      </form>
    </main>
    <footer class="modal-footer">
      <app-button label="Cancelar" (click)="fechar()"></app-button>
      <app-button
        label="Enviar"
        (click)="salvar()"
        [disabled]="form.invalid"
      ></app-button>
    </footer>
  </section>
</div>
}

