.div-geral {
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding:24px;
  box-sizing: border-box;
  height: auto;
}

.user-data{
  width:100%;
  text-align: left;
}


.form-account {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 70px;
  margin-top: 30px;
  }

  .form-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 12px;
  }
}

.separator {
  border: none;
  border-top: 2px var(--font-color-light) solid ;
  margin: 16px 0;
  opacity: 0.5;
  margin-top: 25px;
  margin-bottom: 20px;
}

.link_voltar{
  color:var(--font-color-primary);
  display: flex;
  align-items: center;
  text-decoration: none;
  align-self: flex-end;
  gap:10px;
  &:hover{
    color:var(--secundary-color-base);
    cursor: pointer;
  }
}
  .buttons-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
  }
