NODE_ENV=development
PORT=PORTA_DA_API

DB_USER=USUARIO_DO_BANCO
DB_PASS=SENHA_DO_BANCO
DB_NAME=NOME_DO_BANCO
DB_HOST=IP_DO_SERVIDOR_DO_BANCO
DB_PORT=PORTA_DO_SERVIÇO_DO_BANCO
DB_DIALECT=DIALETO_DO_BANCO

JWT_SECRET=PALAVRA_ALEATORIA_DO_SEGREDO_DO_JWT
JWT_EXPIRATION=EXPIRACAO_DO_JWT

SALT_ROUNDS=VEZES_DE_SALT

