<div class="page-layout">
  <app-navigation></app-navigation>

  <div class="players-list-container">
    <h2>LISTAGEM DE JOGADORES</h2>

    <div class="filter-box">
      <app-input
        type="text"
        label="Filtro"
        placeholder="Filtrar por nome..."
        [control]="filtroControl"
      ></app-input>
    </div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Nickname</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          @if (jogadores$ | async; as jogadores) { @if(jogadores.length > 0) {
          @for (jogador of jogadores; track jogador.id) {
          <tr>
            <td>{{ jogador.pessoa?.nome }}</td>
            <td>{{ jogador.nickname }}</td>
            <td>{{ jogador.pessoa?.telefone }}</td>
            <td>{{ jogador.pessoa?.email }}</td>
            <td>
              <app-button label="Adicionar à Equipe"></app-button>
            </td>
          </tr>
          } } @else {
          <tr>
            <td colspan="5">Nenhum jogador encontrado.</td>
          </tr>
          } } @else {
          <tr>
            <td colspan="5">Carregando jogadores...</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <app-theme-toggler></app-theme-toggler>
</div>
