:host {
  display: flex;
  justify-content: center;
}

.titulo {
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 48px;
  color: #00ADEF;
}

  .form-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 12px;
    padding-left: 15px;
     padding-right: 15px;
    padding-top: 5px;
  }

  .quadro-torneio{
    width: 100%;
    height: 324px;
    border:solid 1px;
    border-radius: 10px;
    border-color: #00ADEF;
  }

 .quadro-torneio-title {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 16px;
  background-color: #2C2C45;
  height: 48px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: solid 1px #00ADEF;
}

.theme-toggle {
  position: fixed;
  bottom: 25px;
  right: 35px;
  z-index: 1000;
  transform: scale(1.2);
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.35);
    filter: brightness(1.3);
  }
}