<app-navigation></app-navigation>

<div>
  <h1 class="titulo">Criação de torneios</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-row" style="margin-bottom: 10px;">
      <app-input
        [customStyles]="{ width: '300px' }"
        icon="search"
        label="Nome do torneio"
        placeholder="Digite o nome do torneio"
        type="text"
        [control]="tournamentNameControl"
      ></app-input>

      <app-input
        [customStyles]="{ width: '251px' }"
        icon="desktop_windows"
        label="Jogo"
        placeholder="Digite o nome do jogo"
        type="select"
        defaultValue=""
        [options]="jogos"
        [control]="gameNameControl"
      ></app-input>

      <app-input
        [customStyles]="{ width: '251px', height: '100px' }"
        icon="calendar_month"
        label="Data de realização"
        placeholder="00/00/00"
        type="date"
        [control]="tournamentDateControl"
      ></app-input>
    </div>

    <div class="form-row">
      <app-input
        [customStyles]="{ width: '502px' }"
        icon="info"
        label="Descrição"
        placeholder="Dê uma breve descrição"
        type="text"
        [control]="descriptionControl"
        (keydown)="blockNumbers($event)"
      ></app-input>
    </div>

    <div class="form-row" style="margin-bottom: 30px;">
      <app-competitor-level
        [title]="'Perfil de competidor'"
        [options]="['Profissional', 'Semi Profissional', 'Amador']"
        [control]="competitorLevelControl"
        [width]="'360px'"
      ></app-competitor-level>

      <app-competitor-level
        [title]="'Formato da competição'"
        [options]="['Eliminatórias', 'Battle Royal', 'Pontuação']"
        [control]="typeRankingLevelControl"
        [width]="'360px'"
      ></app-competitor-level>

      <app-competitor-level
        [title]="'Modo de visualização'"
        [options]="['Ranking em Lista', 'Bracket']"
        [control]="typeCompetitionControl"
        [width]="'360px'"
      ></app-competitor-level>
    </div>

    <div class="quadro-torneio" style="margin-bottom: 30px;">
      <div class="quadro-torneio-title">Realização</div>

      <div class="form-row" style="padding-left: 15px;">
        <app-competitor-level
          style="margin-top: 15px;"
          [title]="''"
          [options]="['Online', 'Presencial']"
          [control]="typePlaceTournamentControl"
          [width]="'180px'"
        ></app-competitor-level>
      </div>

      <ng-container *ngIf="typePlaceTournamentControl.value === 'Presencial'">
      <div class="form-row">
        <app-input
          [customStyles]="{ width: '300px' }"
          icon="location_on"
          label="Endereço"
          placeholder="Digite o nome da rua"
          type="text"
          [control]="addressTournamentControl"
        ></app-input>

        <app-input
          [customStyles]="{ width: '300px' }"
          icon="location_on"
          label="Número"
          placeholder="Digite o número"
          type="text"
          [control]="addressNumberTournamentControl"
        ></app-input>
      </div>

      <div class="form-row">
        <app-input
          [customStyles]="{ width: '300px' }"
          icon="location_on"
          label="Bairro"
          placeholder="Digite o nome do bairro"
          type="text"
          [control]="neighborhoodTournamentControl"
        ></app-input>

        <app-input
          [customStyles]="{ width: '300px' }"
          icon="location_on"
          label="Cidade"
          placeholder="Digite o nome da cidade"
          type="text"
          [control]="cityTournamentControl"
        ></app-input>

        <app-input
          [customStyles]="{ width: '300px' }"
          icon="location_on"
          label="Estado"
          placeholder="Digite o nome do estado"
          type="text"
          [control]="stateTournamentControl"
        ></app-input>

        <app-input
          [customStyles]="{ width: '300px' }"
          icon="location_on"
          label="CEP"
          placeholder="Digite o CEP"
          type="text"
          [control]="cepTournamentControl"
            prefix=""
            mask="00000-000"
        ></app-input>
      </div>
        </ng-container>
    </div>

    <div class="linha-externa">
    <div class="quadro-torneio" style="margin-bottom: 30px;">
      <div class="quadro-torneio-title">Inscrição</div>

      <div class="form-row" style="margin-top: 15px;">
        <app-input
          [customStyles]="{ width: '300px' }"
          icon="group"
          label="Mínimo de participantes"
          placeholder="Digite o número mínimo"
          type="text"
           mask="0*"
           prefix=""
          [control]="minParticipantsControl"
        ></app-input>

        <app-input
          [customStyles]="{ width: '300px' }"
          icon="group"
          label="Máximo de participantes"
          placeholder="Digite o número máximo"
          type="text"
           mask="0*"
           prefix=""
          [control]="maxParticipantsControl"
        ></app-input>
      </div>

      <div class="form-row">
        <app-input
          [customStyles]="{ width: '251px' }"
          icon="calendar_month"
          label="Data limite de ingresso"
          placeholder="00/00/00"
          type="date"
          [control]="registrationsDateControl"
        ></app-input>
      </div>

      <div class="form-row">
        <app-toggle-button
          label="Aceitando ingresso"
          [control]="registrationAvailableControl">
        </app-toggle-button>
      </div>
    </div>

<div class="quadro-torneio" style="margin-bottom: 30px;">
  <div class="quadro-torneio-title">Formação de grupos</div>
  <div class="form-row" style="margin-top: 15px;">
    <app-competitor-level
      [title]="''"
      [options]="['Individual','Grupo']"
      [control]="typeGroupControl"
      [width]="'360px'">
    </app-competitor-level>
  </div>

  <ng-container *ngIf="typeGroupControl.value === 'Grupo'">
    <div class="form-row" style="margin-top: 15px;">
      <app-input
        [customStyles]="{ width: '300px' }"
        icon="group"
        label="Quantidade de Grupos"
        placeholder="Digite a quantidade de grupos"
        type="text"
        mask="0*"
        [control]="quantityGroupsControl">
      </app-input>
    </div>

    <div class="form-row">
      <app-toggle-button
        label="Aleatorizar grupos"
        [control]="randomizeGroupsControl">
      </app-toggle-button>
    </div>

    <div class="form-row">
      <app-toggle-button
        label="Entrada somente em grupos"
        [control]="entryOnlyGroupsControl">
      </app-toggle-button>
    </div>
  </ng-container>
</div>
</div>

    <div class="linha-externa">
    <div class="quadro-torneio">
      <div class="quadro-torneio-title">Pagamento e premiação</div>

      <div class="form-row"  style="margin-top: 15px;">
        <app-input
        [customStyles]="{ width: '300px' }"
        icon="paid"
        label="Valor do ingresso"
        placeholder="R$"
        type="text"
        mask="separator.2"
        prefix="R$"
        [thousandSeparator]="'.'"
        [decimalMarker]="','"
        [prefix]="'R$ '"
        [control]="ticketTournamentControl"
        ></app-input>

         <app-input
         [customStyles]="{ width: '300px' }"
         icon="trophy"
         label="Valor da premiação"
         placeholder="R$"
         prefix="R$"
         type="text"
         mask="separator.2"
         [thousandSeparator]="'.'"
         [decimalMarker]="','"
         [prefix]="'R$ '"
         [control]="trophyTournamentControl"
        ></app-input>
      </div>

 <div class="form-row" style="margin-top: 15px;">
  <app-toggle-button
    label="Ingresso pago"
    [control]="paidTicketControl">
  </app-toggle-button>
  </div>
  </div>

  <div class="quadro-torneio">
  <div class="quadro-torneio-title">Transmissão</div>
  <div class="form-row" style="margin-top: 15px;">
    <app-input
      [customStyles]="{ width: '300px' }"
      icon="desktop_windows"
      label="Plataforma de coleta"
      placeholder="Digite a plataforma"
      type="text"
      [control]="collectPlatformControl">
    </app-input>

    <app-input
      [customStyles]="{ width: '300px' }"
      icon="videocam"
      label="Plataforma de streaming"
      placeholder="Digite a plataforma"
      type="text"
      [control]="streamPlatformControl">
    </app-input>
  </div>

  <div class="form-row" style="margin-top: 15px;">
    <app-toggle-button
      label="Chat"
      [control]="chatControl">
    </app-toggle-button>
  </div>

  <div class="form-row">
    <app-toggle-button
      label="Insígnias"
      [control]="badgesControl">
    </app-toggle-button>
  </div>

  <div class="form-row">
    <app-toggle-button
      label="Narração"
      [control]="narrationControl">
    </app-toggle-button>
  </div>
</div>
</div>

<div class="buttons-row">
    <app-button
      type="submit"
      label="Criar"
      icon="add_circle"
      iconPosition="left"
    ></app-button>

    <app-button
      type="button"
      color="primary"
      label="Cancelar"
      icon="cancel"
      iconPosition="left"
       (click)="cancel()"
    ></app-button>
    </div>
  </form>
</div>

<app-theme-toggler class="theme-toggle"></app-theme-toggler>
