@import "../../../assets/scss/theme/palette";

.custom-button {
  width: auto;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: poppins-light;
  font-weight: bold;

  mat-icon {
    margin-right: 3px;
    height: auto;
  }

  &.small {
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
    mat-icon {
      font-size: 18px;
    }
  }

  &.medium {
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    mat-icon {
      font-size: 20px;
    }
  }

  &.big {
    padding: 16px;
    border-radius: 8px;
    font-size: 18px;
    mat-icon {
      font-size: 20px;
    }
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--primary-color-base);
  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.secundary {
  background-color: var(--secundary-color-base);
  &:hover {
    background-color: var(--secundary-color-dark);
  }
}

.refuse {
  background-color: $secundary-color-500;
  &:hover {
    background-color: $secundary-color-700;
  }
}

.notSelected {
  background-color: $accent-color-500;
  &:hover {
    background-color: $accent-color-600;
  }
}

.selected {
  background-color: $accent-color-800;
  &:hover {
    background-color: $accent-color-700;
  }
}

.accept {
  background-color: $primary-color-500;
  &:hover {
    background-color: $primary-color-700;
  }
}

.cancel {
  background-color: $neutral-color-600;
  &:hover {
    background-color: $neutral-color-700;
  }
}

.accent {
  background-color: var(--accent-color-base);
  &:hover {
    background-color: var(--accent-color-dark);
  }
}

.warn {
  background-color: var(--secundary-color-base);
  &:hover {
    background-color: var(--secundary-color-dark);
  }
}
