.custom-button {
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;



  &.small{
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
    mat-icon{
          font-size: 18px;
    }
  }

  &.medium{
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    mat-icon{
          font-size: 20px;
    }
  }

  &.big{
    padding: 16px;
    border-radius: 8px;
    font-size: 18px;
    mat-icon{
          font-size: 20px;
    }
  }

  

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.primary{
  background-color: var(--primary-color-base);
  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.secundary{
  background-color: var(--secundary-color-base);
  &:hover {
    background-color: var(--secundary-color-dark);
  }
}

.accent{
  background-color: var(--accent-color-base);
  &:hover {
    background-color: var(--accent-color-dark);
  }
}

.warn{
  background-color: var(--secundary-color-base);
  &:hover {
    background-color: var(--secundary-color-dark);
  }
}
